NODE_ENV=development
APP_DOMAIN=http://localhost

PASSWORD_SALT=asdaafhgsdig3ihy234t2437rqr801838u93
SESSION_SALT=kj2378y234hugrw8t3489r2309209u2498y54
ACCESS_TOKEN_SALT=237234gyet87fw7yg8r2g9r2h820h82g
REFRESH_TOKEN_SALT=792344d2798c897t87bc2t8234t6984

STRIPE_PUBLIC_KEY=pk_test_51HBQ11ESEHCrAVLIeiC0cH2obfjzDMqHTAMEXMKBvzZ271pqWK72TUikE3T4oe6TcYzB0sbgt60OIKyFVm9RtKWH00HqoStrcF
STRIPE_SECRET_KEY=sk_test_51HBQ11ESEHCrAVLI79yVqgbKj9H0QjhDqTtlFDwrVbAC8EI6rRLCsQG59makxDDIH3Ody1cz6k9Ic1iYfhPSdAmh00hT9Rjd4Y
STRIPE_CHECKOUT_PAYMENT_METHODS=card,ideal,bancontact,giropay,p24
STRIPE_CHECKOUT_SUCCESS_URL=http://localhost/@/checkout/success
STRIPE_CHECKOUT_CANCEL_URL=http://localhost/@/checkout/cancel

DATABASE_ATLAS_PATH=mongodb+srv://kvilo:kvilo123@cluster0-tlbr4.mongodb.net/etmrio

# IMCARGO - CONFIGURATION
HMAC_SECRET=secret
HMAC_MESSAGE="Don't f---ing talk to me"

# IMAGE SERVICE CONFIGURATION FOR NODE APP
NEXT_PUBLIC_IMAGE_UPLOAD_SERVICE_NAME=/imcargo
NEXT_PUBLIC_IMAGE_UPLOAD_SERVICE_ENDPOINT=/upload
NEXT_PUBLIC_IMAGE_UPLOAD_SERVICE_SECRET=1bf383db991a8273d8bde0e2500926e3e5b30d07017fff2d1ffd24f9c7d4e881
NEXT_PUBLIC_IMAGE_UPLOAD_SERVICE_AVATAR_SIZE=400x0
NEXT_PUBLIC_IMAGE_UPLOAD_SERVICE_POSTER_SIZE=1080x0
